/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:"Poppins",sans-serif;

    background:
    radial-gradient(circle at top left,#1e3a8a 0%,transparent 35%),
    radial-gradient(circle at bottom right,#0f766e 0%,transparent 30%),
    #0f172a;

    color:#f8fafc;

    min-height:100vh;

}

a{
    text-decoration:none;
    color:inherit;
}

button{
    font-family:inherit;
}

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#0f172a;
}

::-webkit-scrollbar-thumb{
    background:#3b82f6;
    border-radius:10px;
}

::-webkit-scrollbar-thumb:hover{
    background:#2563eb;
}